/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #e5e4e2;
}

header {
  padding-top: 15px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-button {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px gray solid;
}

.active {
  background-color: gray;
}

#content {
  flex-grow: 1;

  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  width: calc(100vw - 20px);
  min-height: 50vh;

  display: flex;
  justify-content: center;
  align-items: start;
  gap: 15px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
}

.content-container {
  border: solid 5px rgb(240, 238, 238);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

ul {
  list-style: none;
}

.footer-container {
  margin-top: 20px;
}

dialog {
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.priority-1 {
  color: red;
}

.priority-2 {
  color: #ba8e23;
}

.priority-3 {
  color: green;
}

.completed {
  background-color: aqua;
}

button {
  border-radius: 10px;
}

.article-container {
  padding: 10px;
  width: 150px;
  flex-grow: 0;

  min-height: 20vh;
  border: gray 3px solid;
  border-radius: 10px;
}

.todo-container {
  margin: 10px 0;
}
